body {
    font-family: 'Calibri', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #6aa84f;
    color: #ffffff;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
}

ul {
    color: #999999;
    list-style-type: none;
    padding: 0;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #6aa84f;
    color: #ffffff;
}
